ipywidgets == 8.1.1
tf-models-official
python-dotenv
opencv-python
scikit-learn
livelossplot
tensorflow
pydocstyle
ipykernel
coverage
seaborn
imageio
jupyter
pytest
pandas
pylint
bandit
decord
numpy
black
radon
mypy